* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: sans-serif;
  color: rgb(227, 219, 219);
}

body {
  background-color: #2a2828;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.section-intro {
  position: relative;
  margin-top: 10%;
  right: 5rem;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(29, 94, 39);
  width: 65%;
  border-radius: 5px;
}

.section-intro img {
  border-radius: 5px;
  width: 60%;
  /* height: 50vh; */
  max-height: 100%;
}
/* 
@keyframes img {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
} */

.section-intro .text-container {
  flex: 1 1 200px;
  max-height: 100%;
  margin: 2rem;
  font-size: 1.2rem;
}

.container-content {
  font-size: 1.8rem;
  background: darkblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.skills {
  background-color: #2a2828;
  padding: 2rem;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.skills ul {
  display: flex;
  flex-direction: row;
  margin: 1px;
}

.skills li {
  padding: 1rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 2rem;
}

.projects {
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.projects ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 3rem;
}
.projects li {
  display: inline-block;
  background-color: #2a2828;
  display: flex;
  width: 18rem;
  height: 18rem;
}

/*
.projects-heading {
  position: relative;
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

.section-contact {
  position: relative;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.contact-heading {
  position: relative;
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  font-size: 3rem;
  color: #111;
}

.contact-form-input {
  position: relative;
  width: 20rem;
  color: #111;
}

.form-submit-btn {
  position: relative;
  display: flex;
  justify-content: center;
  width: 10rem;
  color: #111;
} */ ;
